.logo {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 5vmin;
  @media all and (min-width:$tablet){
    margin-bottom: 2vmax;
  }
}
.logo__wrap {
  align-items: center;
  border: 2px solid $white;
  border-radius: 50%;
  display: flex;
  height: 10vmin;
  justify-content: center;
  margin-right: 2vmin;
  width: 10vmin;
  @media all and (min-width:$tablet){
    height: 5.5vmax;
    margin-right: 1.5rem;
    width: 5.5vmax;
  }
}
.logo__img{
  max-width:50%;
}
