.logo {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 3vmax;
}
.logo__wrap {
  align-items: center;
  border: 2px solid $white;
  border-radius: 50%;
  display: flex;
  height: 5.5vmax;
  justify-content: center;
  margin-right: 1.5rem;
  width: 5.5vmax;
}
.logo__img{
  max-width:50%;
}
