.form {
  font-size: 5.25vmin;
  padding-top:5.25vmin;
  @include nunito-extra-light;
  @media all and (min-width:768px){
    font-size: 2.25vmax;
    padding-top:2vmax;
  }
}

.form__row {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 0 6.5vmin 0;
  @media all and (min-width:768px){
    margin: 0 0 1.5vmax 0;
  }
}

.form__label, .form__input-wrap, .form__toggle {
  display: inline-block;
}

.form__input-wrap {
  align-items:center;
  background: rgba(0,0,0,0.3);
  color: $gold;
  display: inline-flex;
  margin: 0 1.25rem;
  padding: 0.75rem 1.25rem;
  @include nunito-regular;
}

.form__input {
  margin: 0 0.5rem 0 0;
  position: relative;
}

.form__toggle {
  align-self: stretch;
  font-size: 1rem;
  position: relative;
  width:1rem;
}

.form__toggle-up, .form__toggle-down{
  display: block;
  height: 50%;
  position: relative;
  width: 100%;
  &:before{
    content: "\25BE";
    display: block;
  }
}

.form__toggle-up {
  &:before{
    top: 7.5%;
    transform: scaleY(-1);
  }
}

.form__toggle-down {
  &:before{
    bottom: 7.5%;
  }
}

.form__button {
  margin: 4vmin auto 0 auto;
  @media all and (min-width:768px){
    margin: 2vmax auto 0 auto;
  }
}
