.modal{
  background: $black-90;
  bottom: 3vmax;
  color: $white;
  left: 3vmax;
  padding: 3.5rem;
  position: fixed;
  right: 3vmax;
  text-align: center;
  top: 3vmax;
  z-index: 1;
  pre{
    height: calc(100% - 9vmax);
    margin:0;
    overflow: scroll;
    text-align: left;
    width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}
.modal__close{
  background: url('/images/close.png') no-repeat center;
  background-size: 20px 20px;
  border: 0;
  color: $white;
  display: block;
  height: 20px;
  padding: 0;
  position: absolute;
  right: 2rem;
  text-indent: -9999px;
  top: 2rem;
  width: 20px;
}
.modal__button{
  margin:3vmax auto 0;
}
