.button{
  background: transparent;
  border: 0;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: 3.25vmax;
  padding: 2.25vmax 4.5vmax;
  position: relative;
  z-index: 1;
  @include nunito-light;
  &:before{
    background: $tangerine;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  &:after{
    background: $burnt-tangerine;
    bottom: 0;
    display: block;
    content: '';
    height: 5px;
    left: 0;
    position: absolute;
    width: 100%;
    transform:translateY(5px);
    z-index: -2;
  }
  &:hover{
    transform: translateY(1.5px);
    &:after{
      transform:translateY(3.5px);
    }
  }
  @media all and (min-width:768px){
    font-size:2vmax;
    padding: 1.35vmax 3vmax;
  }
  @media all and (min-width:$tablet-landscape){
    font-size:1.5vmax;
  }
}
