html {
  font-size: 16px;
}

body {
  @include source-sans-regular;
}

body,
html {
  min-height: 100%;
  width: 100%;
}

.overlay,
.wrapper {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.overlay {
  background: rgba(0,0,0,0.3);
  z-index: 0;
}

.wrapper {
  align-items: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
