@mixin source-sans-regular{
  font-family: $source-sans-pro;
  font-weight: 400;
}

@mixin source-sans-bold{
  font-family: $source-sans-pro;
  font-weight: 700;
}

@mixin nunito-extra-light{
  font-family: $nunito;
  font-weight: 200;
}

@mixin nunito-light{
  font-family: $nunito;
  font-weight: 300;
}
