.display {
  font-size: 3.5rem;
  @include nunito-extra-light;
}

.subheading {
  color: $white;
  background: $black-30;
  font-size: 1.35rem;
  margin: 1.5rem 0;
  padding:0.75rem 1rem;
  @include nunito-extra-light;
}

.body {
  font-size: 1rem;
  margin-bottom: 1rem;
}
