.display {
  font-size: 3.5rem;
  @include nunito-regular;
}

.subheading {
  color: $white;
  background: $black-30;
  font-size: 1.5rem;
  margin: 2.5rem 0 1.5rem 0;
  padding:0.75rem 1rem;
  @include source-sans-regular;
}

.body {
  font-size: 1rem;
  margin-bottom: 1rem;
}
