// Media queries
$tablet: 768px;

// Fonts
$source-sans-pro: 'Source Sans Pro', sans-serif;
$nunito: 'Nunito', sans-serif;

// Colours
$white: #fff;
$black: #000;
$black-30: rgba(0,0,0,0.3);
$black-50: rgba(0,0,0,0.5);
$black-90: rgba(0,0,0,0.9);
$gold: #e08124;
$tangerine: #e05a24;
$burnt-tangerine: #ca4f1d;
